# cache files
.cache/
*.zip
# codeql databases
codeql/
codeqldb/
db/

# test queries
test.ql

# query results
query_results/

# vscode workspace settings
serverless-compliance.code-workspace
**/.DS_Store

# Libs
node_modules/

# Configs
.serverless/
*.lock.yml

# Archives, Outputs & Data
archive/
output/
tmp/