# cache files
.cache/
*.zip
*.annotated

# codeql databases
codeqldb/

# test files
test.ql
test.py
*test*

# query results
query_results/

# vscode workspace settings
serverless-compliance.code-workspace
**/.DS_Store

# Libs
node_modules/

# Configs
.serverless/
*.lock.yml
.vscode/
.idea/

# Archives, Outputs & Data
archive/
output/

# Caches
__pycache__/
tmp/

policies.txt
venv/
growlithe.egg-info/