# cache files
.cache/
*.zip
*.annotated

# codeql databases
codeqldb/
growlithe_*/
benchmarks/*/growlithe*.yaml
# test files
test.ql
test.py
# *test*

# query results
query_results/

# vscode workspace settings
serverless-compliance.code-workspace
**/.DS_Store

# Libs
node_modules/

# Configs
.serverless/
*.lock.yml
.idea/

# Archives, Outputs & Data
archive/
output/
tasks/
build/

# Caches
__pycache__/
tmp/

policies.txt
venv/
growlithe.egg-info/

# Growlithe outputs
growlithe_SampleApp/